.modal-dialog {
	max-width: 70%;
}
.modal-content {
	padding: 20px;
	background-color: #fafafa;
}
.table {
	display: block;
	width: max-content;
	max-width: 100%;
	overflow: auto;
}
.modal-header {
	font-weight: 600;
	font-size: 20px;
}
.modal-title {
	font-weight: 600;
	font-size: 28px;
}
