/** Modal */
.modal-dialog {
	max-width: 70%;
	display: flex;
	max-height: 90vh;
}
.modal-content {
	padding: 20px;
	background-color: #fafafa;
	overflow: hidden;
}
.modal-header {
	font-weight: 600;
	font-size: var(--large-font-size);
}
.modal-title {
	font-weight: 600;
	font-size: var(--large-font-size);
}

.modal-body {
	overflow-y: auto;
}

.modal-footer {
	display: flex;
	gap: 0rem;
	padding: 10px;
}

/** Non-Modal components */
.table {
	display: block;
	width: max-content;
	max-width: 100%;
	overflow: auto;
}

.right-aligned-row {
	width: 100%;
	text-align: right;
}
