/** Define the colors the nodes take by category in light and dark mode*/
:root {
	--heat-node-color: #d49494;
	--special-node-color: #beb4ff;
	--other-node-color: #81d2c0;
	--general-node-color: #f1f1f1;
	--electricity-node-color: #ffdb71;
	--node-border-color: #000000;

	--xy-edge-stroke-default: black;
	--xy-theme-edge-hover: #2e2e2e;
}

[data-theme='dark'] {
	--heat-node-color: #bc1b1b;
	--special-node-color: #6541ca;
	--other-node-color: #32c8bc;
	--general-node-color: #151515;
	--electricity-node-color: #eeb014;
	--node-border-color: #ffffff;

	--xy-edge-stroke-default: white;
	--xy-theme-edge-hover: #bbbbbb;
}

/** Set node colors by category*/
.dndnode[style*='--category: heat'],
.react-flow__node[style*='--category: heat'] {
	background-color: var(--heat-node-color);
}

.dndnode[style*='--category: connections'],
.react-flow__node[style*='--category: connections'] {
	background-color: var(--special-node-color);
}

.dndnode[style*='--category: other'],
.react-flow__node[style*='--category: other'] {
	background-color: var(--other-node-color);
}

.dndnode[style*='--category: general'],
.react-flow__node[style*='--category: general'] {
	background-color: var(--general-node-color);
}

.dndnode[style*='--category: electricity'],
.react-flow__node[style*='--category: electricity'] {
	background-color: var(--electricity-node-color);
}

/** Set node borders*/
.react-flow__node,
.react-flow__node:hover {
	/* padding: 10px 20px; */
	border-color: var(--node-border-color) !important;
	border-width: 1px !important;
	box-shadow: none !important;
	border-radius: 5%;
}

.markdown-node p {
	margin: 10px 0px;
	font-size: var(--xsmall-font-size);
}

.react-flow__node.selected,
.react-flow__node.selected:hover {
	border-width: 2px !important;
	border-color: var(--node-border-color) !important;
}

.bus-handle {
	border-radius: 0;
}

path.react-flow__edge-path {
	stroke-width: 2;
}
