.add-module-button {
	width: 3em;
	height: 3em;
	justify-content: center;
	align-items: center;
	display: flex;
	position: absolute;
	bottom: 0px;
	right: 0px;
	transform: translate(50%, 50%);
}

.controle-module-list {
	border: 1px solid #222;
	border-radius: 5px;
	max-width: 30em;
	position: relative;
	margin-bottom: 2em;
	margin-right: 2em;
}

.controle-module-item {
	display: flex;
	justify-content: space-between;
	margin: 1em;
	background-color: #eee;
	border-radius: 3px;
	padding: 0.25em 0.5em;
	cursor: pointer;
}

.modal-subheading {
	margin: 0.5em 1em;
	font-size: 1.25em;
	font-weight: 600;
}
