:root {
	--input-border-color: #a4a4a4;
}
[data-theme='dark'] {
	--input-border-color: #e6e6e6;
}

.input-menu-row {
	margin: 6px 2px;
}
.input-menu-column {
	border-style: solid;
	border-color: var(--input-border-color);
	border-radius: 6px;
	border-width: 2px;
	min-width: 350px;
}
#unit-label {
	position: absolute;
	right: 3rem;
	left: unset;
	top: 50% !important;
	background-color: #fff0;
	color: #979797;
	padding: 12px;
	transform: translate(0%, -50%);
	margin: 0;
}

#floating-label {
	top: 0rem !important;
	background-color: #fff0;
	padding: 5px;
	padding-top: 10px;
	margin-left: -4px;
	margin-top: 3px;
}

.input-warning-message {
	font-size: medium;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	display: block;
}

.required-input-row {
	padding: 0.25em;
	height: 100%;
}

.form-check-label {
	font-size: 1rem;
}

.mutex-warning {
	color: #505050;
}

.warning-text {
	color: #f00;
}

.boolean-input-container {
	display: inline;
	padding: 12px;
	vertical-align: center;
}

.boolean-input-container .form-check {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5em;
	margin: 0;
	padding: 0;
}

.boolean-input-container .form-check-input {
	cursor: pointer;
	transform: scale(1.25);
	margin: 0;
	flex-shrink: 0;
}

.boolean-input-container .form-check-label {
	font-size: 20px;
	margin: 0;
	cursor: pointer;
	user-select: none;
}
