@import 'bootstrap/dist/css/bootstrap.css';
@import '@xyflow/react/dist/style.css';
@import 'primereact/resources/themes/md-light-indigo/theme.css';

/** Custom Reactflow Styling */
@import './Reactflow-Styling/node-styling.css';
@import './Reactflow-Styling/error-logger.css';
@import './Reactflow-Styling/edit-node-modal.css';
@import './Reactflow-Styling/drag-drop-menu.css';
@import './Reactflow-Styling/node-warning-icon.css';

/** Sidebar Styling */
@import './Sidebar-Styling/sidebar.css';
@import './Sidebar-Styling/sidebar-navigator-menu.css';
@import './Sidebar-Styling/color-picker.css';
@import './Sidebar-Styling/import-export-menu.css';
@import './Sidebar-Styling/sidebar-new-node-menu.css';
@import './Sidebar-Styling/medium-menu.css';
@import './Sidebar-Styling/simulation-menus.css';
@import './Sidebar-Styling/radix-ui.css';

/** Input Widget Styling */
@import './Input-Widgets/input-widgets.css';
@import './Input-Widgets/optional-input-rows.css';

/** Both */
@import './bootstrap-buttons.css';
@import './loading-overlay.css';

#root {
	width: 100vw;
	height: 100vh;
	font-family: (--bs-body-font-family);
}

html,
body {
	margin: 0;
}

:root {
	--xsmall-font-size: clamp(12px, 0.7vw, 18px);
	--small-font-size: clamp(14px, 0.8vw, 22px);
	--medium-font-size: clamp(16px, 1vw, 26px);
	--large-font-size: clamp(20px, 1.2vw, 32px);
	--xlarge-font-size: clamp(24px, 1.5vw, 42px);
}

.dndflow {
	display: flex;
	height: 100%;
	text-align: left;
	margin-bottom: 2em;
	flex-grow: 1;
	height: 100%;
}

.resie-logo {
	width: 200px;
	position: absolute;
	bottom: 50px;
	right: 50px;
	z-index: 10;
}
