@import 'bootstrap/dist/css/bootstrap.css';
@import '@xyflow/react/dist/style.css';
@import 'primereact/resources/themes/md-light-indigo/theme.css';

/** Custom Reactflow Styling */
@import './Reactflow-Styling/node-styling.css';
@import './Reactflow-Styling/error-logger.css';
@import './Reactflow-Styling/edit-node-modal.css';
@import './Reactflow-Styling/drag-drop-menu.css';

/** Sidebar Styling */
@import './Sidebar-Styling/sidebar.css';
@import './Sidebar-Styling/sidebar-navigator-menu.css';
@import './Sidebar-Styling/color-picker.css';
@import './Sidebar-Styling/import-export-menu.css';
@import './Sidebar-Styling/sidebar-new-node-menu.css';
@import './Sidebar-Styling/medium-menu.css';

/** Both */
@import './bootstrap-buttons.css';
@import './loading-overlay.css';
@import './input-widgets.css';

#root {
	width: 100vw;
	height: 100vh;
}

html,
body {
	margin: 0;
	/* box-sizing: border-box; */
}

.dndflow {
	display: flex;
	height: 100%;
	text-align: left;
	margin-bottom: 10px;
	flex-grow: 1;
	height: 100%;
}

.p-float-label .p-inputwrapper-filled ~ #multiselect-label {
	top: 0rem !important;
	background-color: #fff0;
	padding: 5px;
	padding-top: 10px;
	margin-left: -4px;
	margin-top: 0;
}
