:root {
	--color-picker-size: 60px;
	--button-disabled-bg: #8b8b8b;
}
@media (prefers-color-scheme: dark) {
	:root {
		--button-disabled-bg: #636363;
	}
}

.medium-menu-button-section {
	display: flex;
	align-items: center;
	gap: 10px;
}

.medium-input-row {
	padding: 10px;
	display: flex;
	align-items: stretch;
	min-height: 44px;
	gap: 8px;
}

.medium-input-row > * {
	display: flex;
	align-items: center;
	height: var(--color-picker-size);
}

.medium-input-row .form-control,
.medium-input-row .btn {
	height: 100%;
	font-size: 22px;
	padding: 1rem;
	display: inline-flex;
	align-items: center;
}

.medium-menu-button {
	border-radius: 6px;
	margin: 5px;
	width: 60%;
	min-width: fit-content;
	padding: 20px;
	font-size: 20px;
}
.medium-menu-button:disabled {
	text-decoration: line-through;
	background-color: var(--button-disabled-bg);
}
