:root {
	--sidebar-bg-color: #d7e5f5;
	--sidebar-outline-color: #000000;
	--sidebar-text-color: #000000;
}
[data-theme='dark'] {
	--sidebar-bg-color: #0e132b;
	--sidebar-outline-color: #fcfcfc;
	--sidebar-text-color: #fcfcfc;
}

.dndflow aside {
	border-right: 1px solid var(--sidebar-outline-color);
	padding: 1em;
	font-size: var(--medium-font-size);
	background: var(--sidebar-bg-color);
	color: var(--sidebar-text-color);
	overflow-y: auto;
	min-width: 320px;
	width: 40%;
	resize: horizontal;
}

.dndflow aside .form-floating > textarea:focus ~ label::after,
.dndflow aside .form-floating > textarea:not(:placeholder-shown) ~ label::after {
	background: none;
}

.form-floating > {
	padding-top: 24px;
	overflow: visible;
}
.form-floating > label {
	font-size: 18px;
	padding-top: 16px;
	z-index: 0;
}

.sidebar-heading {
	font-size: var(--xlarge-font-size);
	font-weight: 600;
	padding-left: 0px;
	color: var(--sidebar-text-color) !important;
}
.sidebar-subheading {
	padding-top: 15px;
	font-size: var(--large-font-size);
	font-weight: 600;
}
